body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("../Img/f71d736cf5398cc35222f2e9d95518f0.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.paginaForms {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    height: 80vh;
    background-image: url("../Img/1f8431b4c254df9de359cac616b52a58.png");
    background-size: cover; /* Cambiado de contain a cover */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado de center a flex-start */
}

select#tipo {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px; /* Añadido para dar espacio en la parte superior */
}

.formulario {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.formulario h2 {
    margin-top: 0;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="radio"] {
    margin-right: 10px;
}

.formulario button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0056b3;
}