@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

html,
body {

    font-family: 'Uncial Antiqua', cursive;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.izquierda {
    background-image: url("../Img/fondo.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 20%) minmax(0, 80%);
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
}

.equipamiento {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    background-color: white;
    text-align: center;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    /* Corrige el margen */

    padding: 10px;
    /* Añade padding para espaciar los elementos */
}

.manoI {
    margin-left: 50px;
}

.manoD {
    margin-right: 50px;
}

.mano,
.manoI,
.manoD {
    height: 100px;
    overflow: hidden;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px double grey;
    /* Asegúrate de que el borde sea visible */
    margin: 10px;
    /* Añade margen para espaciar los elementos */
}

.perfil {
    margin-top: 75px;
}

.mano img,
.manoI img,
.manoD img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.derecha {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: auto;
    padding: 5px;
    gap: 5px;
    background-size: cover;
    background-position: center;
    justify-items: center;
    align-items: center;
    background-image: url("../Img/medieval-castle-bridge-8taa2c6wt.jpg");
}

.cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 250px;
    height: 350px;
    justify-content: space-between;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-image: url("../Img/1f8431b4c254df9de359cac616b52a58.png");
}

.cuadrado .item {
    height: 150px;
    display: block;
    margin-top: 50px;
}

.cuadrado p {
    margin: 10px 0;
}

.cuadrado .botones {
    display: flex;
    justify-content: space-around;
    width: 85%;

}

#caracteristicas {
    margin-top: 25px;
}

#caracteristicas input[type="range"] {
    margin-bottom: 5px;
    width: 80%;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

#caracteristicas input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, black, red);
    border-radius: 5px;
}

#caracteristicas input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url("../Img/middle-ages-custom-cursor-removebg-preview.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
    margin-top: -11px;
}
 
#caracteristicas input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, black, red);
    border-radius: 5px;
}

#caracteristicas input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url("../Img/middle-ages-custom-cursor-removebg-preview.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-image: url("../Img/descarga__5_-removebg-preview.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    color: black;
    background-color: transparent;
    font-family: 'Uncial Antiqua', cursive;
    text-decoration: none;
}

.botonL {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 10px 20px;
    background-image: url("../Img/descarga__5_-removebg-preview.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    color: black;
    background-color: transparent;
    font-family: 'Uncial Antiqua', cursive;
}

.botonC {
    display: inline-block;
    padding: 10px 20px;
    background-image: url("../Img/769b70f99dfa67b5a6294178c957b7b7-removebg-preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    color: black;
    background-color: transparent;
    height: 100px;
    width: 100px;
    font-family: 'Uncial Antiqua', cursive;
}

.boton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botonC:hover {
    background-image: url("../Img/73350effcab80e9eabf1f9b16998e59c-removebg-preview.png");
    height: 125px;
    width: 125px;
}

#caracteristicasEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#caracteristicasEdit label {
    display: block;
    margin-bottom: 5px;
}

#caracteristicasEdit input[type="range"] {
    margin-bottom: 20px;
    width: 75%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

#caracteristicasEdit input[type="range"]::-webkit-slider-runnable-track {
    width: 50%;
    height: 8px;
    background: linear-gradient(to right, black, red);
    border-radius: 5px;
}

#caracteristicasEdit input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url("../Img/middle-ages-custom-cursor-removebg-preview.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
    margin-top: -11px;
}

#caracteristicasEdit input[type="range"]::-moz-range-track {
    width: 40%;
    height: 8px;
    background: linear-gradient(to right, black, red);
    border-radius: 5px;
}

#caracteristicasEdit input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url("../Img/middle-ages-custom-cursor-removebg-preview.png") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.no-text {
    color: transparent;
    text-shadow: none;
}

.pagina {
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
    background-image: url("../Img/surface-\ background-patterns-lin.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.rangeContainer {
    background-size: 100% 100%;
    background-image: url("../Img/a1d7ae377b28a1cd7698c715353b4c10-removebg-preview.png");
    background-repeat: no-repeat;
    padding: 10px;
}